<div class="row">
    <div class="col l-10 l-o-1 m-10 m-o-1 c-12 containerAddress">
        <div class="header">Địa chỉ nhận hàng</div>
        <div class="address">
          <div class="name">Ngo Van Duc Thinh</div>
          <div class="detail">20/4, Hẻm 20 Đường Chu Văn An, Khu Phố 5, Phường Xuân Bình, Thành Phố Long Khánh, Đồng Nai</div>
          <button type="button">THAY ĐỔI</button>
      </div>
    </div>
    <div class="col l-10 l-o-1 m-10 m-o-1 c-12 container">
    <div class="header">
    <h2>
        Sản phẩm
    </h2>
    <div class="price">
        Đơn giá
    </div>
    <div class="quantity">
        Số lượng
    </div>
    <div class="total">
        Thành tiền
    </div>
    </div>
    <div class="product">
    <div class="product-details">
        <img alt="Chuột Không Dây Bluetooth ZiyouLang X7 Mouse" height="60" src="https://storage.googleapis.com/a1aa/image/Uvk9ktGf8S0FG65QZAAN1Eecje84OefRnGGUzgRa7eOif6T4JA.jpg" width="60"/>
        <div class="info">
        <p>
        Chuột Không Dây Bluetooth ZiyouLang X7 Mouse
        </p>
        <p class="type">
        Loại: Màu Ghi Xám
        </p>
        </div>
    </div>
    <div class="product-price">
        ₫179.000
    </div>
    <div class="product-quantity">
        1
    </div>
    <div class="product-total">
        ₫179.000
    </div>
    </div>
    <div class="insurance">
    <input type="checkbox"/>
    <p>
        Bảo hiểm Thiết bị điện tử
    </p>
    <p class="price">
        ₫13.999
    </p>
    </div>
    <div class="message">
    <input placeholder="Lưu ý cho Người bán..." type="text"/>
    </div>
    <div class="shipping">
    <div class="method">
        Phương thức vận chuyển: Nhanh
    </div>
    <div class="change">
        Thay Đổi
    </div>
    <div class="price">
        ₫12.800
    </div>
    </div>
    <div class="total">
    <div class="label">
        Tổng số tiền (1 sản phẩm):
    </div>
    <div class="amount">
        ₫191.800
    </div>
    </div>
    </div>
    <div class="col l-10 l-o-1 m-10 m-o-1 c-12 container1">
      <div class="header">Phương thức thanh toán</div>
      <div class="payment-method">
          <div>Thanh toán khi nhận hàng</div>
          <button type="button" (click)="createPayment()">THAY ĐỔI</button>
      </div>
      <div class="summary">
        <div class="summary-item">
            <div>Tổng tiền hàng</div>
            <div>₫179.000</div>
        </div>
        <div class="summary-item">
            <div>Tổng tiền phí vận chuyển</div>
            <div>₫12.800</div>
        </div>
        <div class="summary-item">
            <div>Tổng thanh toán</div>
            <div>₫191.800</div>
        </div>
      </div>
      <div class="note">
            Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo <a href="#">Điều khoản WolfTechE</a>
      </div>
      <div class="order-button">
          <button>Đặt hàng</button>
      </div>
    </div>
</div>
